{% extends 'base.html.twig' %}

{% block title %}Set{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/sets.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

<div class="learnBar">
    <div class="info">
        <img src="{{ asset('images/monitor.png') }}">
        <h1>Monitor</h1>
        <button class="goBack" onclick="window.location.href='/';">Go back</button>
    </div>
    <div class="actions">
        <button id="learn" onclick="window.location.href='set/learn'">START LEARNING</button>
        <p>5 Words</p>
    </div>
</div>

<div class="wordsContainer">
    <div class="word">
        <span id="wordEn">English Word</span>
        <span id="wordPl">Polish Word</span>
    </div>
    <div class="word">
        <span id="wordEn">English Word</span>
        <span id="wordPl">Polish Word</span>
    </div>
    <div class="word">
        <span id="wordEn">English Word</span>
        <span id="wordPl">Polish Word</span>
    </div>
    <div class="word">
        <span id="wordEn">English Word</span>
        <span id="wordPl">Polish Word</span>
    </div>
</div>

{% endblock %}
