{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

<div class="loginContainer">
    <div class="leftSection">
        <img src="{{ asset('assets/logo.png') }}" alt="Logo"/>
    </div>

    <div class="rightSection">
        <form class="login" action="login" method="POST">
            <input name="email" type="text" placeholder="email@email.com">
            <input name="password" type="password" placeholder="password">
            <br><br>
            <button class="loginForm" type="submit">LOGIN</button>
        </form>
        <div class="registerContainer">
            <button id="register" class="loginForm">REGISTER</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("register").onclick = function () {
            location.href = "register";
        }
    });
</script>
{% endblock %}