<div class="logoutContainer">
    <h1>HISTORY</h1>
    <div class="searchBar">
        <form [formGroup]="searchForm">
            <input formControlName="searchControl" placeholder="Search">
        </form>
    </div>
</div>

<div class="setContainer">
    @for (set of sets; track set) {
        <div class="wordSet" (click)="goToSetPage(set.id)">
            <img class="wordSetImage" [src]="getImageUrl(set.image)" alt="Set Image">
            <h1>{{ set.set_name }}</h1>
            <span>{{ set.word_count }} words</span>
        </div>
    }
</div>