<div class="learnContainer">
    <button class="goBack" (click)="goToSetPage()">Go back</button>
    <h2>{{ words.length - currentIndex }} left</h2>
    <div class="learnWords" (click)="toggleWordVisibility()">
        <span id="wordEn" [class.visible]="isEnglishVisible" [class.hidden]="!isEnglishVisible">{{ currentWord?.word_en }}</span>
        <span id="wordPl" [class.visible]="!isEnglishVisible" [class.hidden]="isEnglishVisible">{{ currentWord?.word_pl }}</span>
    </div>
    <br>
    <div class="buttonContainer">
        <div class="learnButtonContainer">
            <button type="button" (click)="nextWord(true)">I know</button>
            <button type="button" (click)="nextWord(false)">I don't know</button>
        </div>
    </div>
</div>
