<div class="loginContainer">
    <div class="leftSection">
        <img src="assets/logo.png" alt="Logo"/>
    </div>

    <div class="rightSection">
        <form class="login">
            <input name="email" type="text" placeholder="email@email.com">
            <input name="password" type="password" placeholder="password">
            <br><br>
            <button class="loginForm" type="submit" (click)="submitForm()">LOGIN</button>
        </form>
        <div class="registerContainer">
            <button id="register" class="loginForm" routerLink="/register">REGISTER</button>
        </div>
    </div>
</div>