<div class="learnBar">
    <div class="info">
        <img [src]="getImageUrl(set.image)" alt="Set Image">
        <h1>{{ set.name }}</h1>
        <button class="goBack" (click)="goBack()">Go back</button>
    </div>
    <div class="actions">
        @if (isUserAdmin()) {
            <button class="addElement" (click)="openAddWordModal()">Add Word</button>
        }
        <button id="learn" (click)="goToLearnPage()">START LEARNING</button>
        <p>{{ set.word_count }} Words</p>
    </div>
</div>

@if (unknownWords.length > 0) {
    <h2>You still need to work on:</h2>
    <div class="wordsContainer">
        @for (word of unknownWords; track word) {
            <div class="word">
                <span id="wordEn">{{ word.word_en }}</span>
                <span id="wordPl">{{ word.word_pl }}</span>
            </div>
        }
    </div>
} @else if (afterLearn) {
    <h2>Perfect score! You know everything!</h2>
}

<div class="wordsContainer">
    @for (word of set.words; track word) {
        <div class="word">
            <span id="wordEn">{{ word.word_en }}</span>
            <span id="wordPl">{{ word.word_pl }}</span>
            @if (isUserAdmin()) {
                <!-- <button class="deleteElement" (click)="deleteWord(word.word_id, $event)">Delete</button> -->
                <img src="assets/delete.svg" class="deleteElement" (click)="deleteWord(word.word_id, $event)" alt="Delete Set">
            }
        </div>
    }
</div>

<app-add-word-modal></app-add-word-modal>