<div class="learnBar">
    <div class="info">
        <img [src]="getImageUrl(set.image)" alt="Set Image">
        <h1>{{ set.name }}</h1>
        <button class="goBack" (click)="goBack()">Go back</button>
    </div>
    <div class="actions">
        <button id="learn" routerLink="/learn">START LEARNING</button>
        <p>{{ set.word_count }} Words</p>
    </div>
</div>

<div class="wordsContainer">
    @for (word of set.words; track word) {
        <div class="word">
            <span id="wordEn">{{ word.word_en }}</span>
            <span id="wordPl">{{ word.word_pl }}</span>
        </div>
    }
</div>
