<div class="learnBar">
    <div class="info">
        <img src="assets/images/monitor.png">
        <h1>Monitor</h1>
        <button class="goBack" (click)="goBack()">Go back</button>
    </div>
    <div class="actions">
        <button id="learn" routerLink="/learn">START LEARNING</button>
        <p>5 Words</p>
    </div>
</div>

<div class="wordsContainer">
    <div class="word">
        <span id="wordEn">English Word</span>
        <span id="wordPl">Polish Word</span>
    </div>
    <div class="word">
        <span id="wordEn">English Word</span>
        <span id="wordPl">Polish Word</span>
    </div>
    <div class="word">
        <span id="wordEn">English Word</span>
        <span id="wordPl">Polish Word</span>
    </div>
    <div class="word">
        <span id="wordEn">English Word</span>
        <span id="wordPl">Polish Word</span>
    </div>
</div>
