<div class="loginContainer">
    <div class="leftSection">
        <img src="assets/logo.png" alt="Logo"/>
    </div>

    <div class="rightSection">
        <form class="login" action="register" method="POST">
            <input name="login" type="text" placeholder="username">
            <input name="email" type="text" placeholder="email@email.com">
            <input name="password" type="password" placeholder="password">
            <input name="confirm_password" type="password" placeholder="confirm password">
            <br><br>
            <button class="loginForm" type="submit">REGISTER</button>
        </form>
    </div>
</div>
