<header>
    <a (click)="redirectTo('')">Home</a>
    @if (!isUserLoggedIn()) {
        <a (click)="redirectTo('login')">Login</a><br>
        <a (click)="redirectTo('register')">Register</a>
    }
    @if (isUserLoggedIn()) {
        <a display="none" (click)="toggleDropdown()">
            <img class="profileImg" src="assets/profile.png">
        </a>
        @if (dropdownOpen) { 
            <div class="dropdownMenu">
                <a (click)="redirectTo('my-account')">Go to Profile</a>
                <a (click)="logout()">Logout</a>
            </div>
        }
    }
</header>

<div class="mainContent">
    <router-outlet></router-outlet>
</div>