<header>
    <a routerLink="">Home</a>
    <a routerLink="/login">Login</a><br>
    <a routerLink="/register">Register</a>
    <a routerLink="/set">Set Page</a>
    <a routerLink="/learn">Learn Page</a>
    <a routerLink="/my-account">My Account</a>
</header>

<div class="mainContent">
    <router-outlet></router-outlet>
</div>


<div>
    @for (user of users; track user) {
        <p>User ID: {{ user.id }}</p>
        <p>User ID: {{ user.login }}</p>
        <p>User ID: {{ user.email }}</p>
        <br>
    }
</div>