@import "bootstrap/dist/css/bootstrap.css";

:root {
    --primaryColor: white;
    --secondaryColor: lightgray;

    --primaryBGColor: #0E4374;
    --secondaryBGColor: #0097A6;

    --inputBGColor: #A4ABBD;

    --buttonColor: #0F94FA;

    --setBGColor: #4D73A8;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, var(--primaryBGColor), var(--secondaryBGColor));
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--primaryColor);
}

html {
    overflow-x: hidden;
}

.mainContent {
    width: 80%;
    max-width: 90%;
    border-radius: 7pt;
    position: relative;
    margin: 20pt auto;
    padding: 5pt;
}

header {
    background-color: #003867;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 0;
    height: 8vh;
    padding: 2pt;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 1000;
}

main {
    flex: 1;
    padding: 20pt;
}

input {
    background-color: var(--inputBGColor);
    color: white;
    padding: 15pt 25pt;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    margin-bottom: 10pt;
    font-size: 20pt;
    width: 80%;
}

button {
    background-color: var(--buttonColor);
    color: white;
    padding: 15pt 25pt;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    margin-bottom: 10pt;
    font-size: 20pt;
    width: 80%;
    text-align: center;
}

input:hover,
button:hover {
    opacity:0.9;
}

input::placeholder{
    color: lightgray;
}

a {
    cursor: pointer;
    padding: 10pt;
    margin: 10pt;
    color: var(--primaryColor);
    text-decoration: none;
}

.profileImg {
    max-height: 8vh;
    position: absolute;
    right: 0;
    top: 0;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--primaryBGColor);
    color: var(--primaryColor);
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-width: 150px;
    z-index: 1000;
}

.dropdownMenu a {
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid var(--secondaryColor);;
    cursor: pointer;
}

.dropdownMenu a:hover {
    background-color: var(--secondaryBGColor);
    border-bottom: 0;
    border-radius: 30px;
}


.actionsContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.searchBar{
    align-items: center;
    text-align: center;
    margin-bottom: 5vh;;
}

.addElement {
    background-color: green;
}

.deleteElement {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
}

.deleteElement:hover {
    opacity: 0.6;
}

.setContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.wordSet {
    position: relative;
    background-color: var(--setBGColor);
    border: none;
    border-radius: 1em;
    padding: 10px;
    flex: 0 0 calc(20% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.wordSetImage {
    max-width: 100px;
    min-height: 100px;
    margin-bottom: 10px;
}

.wordSet h1 {
    margin: 0;
    font-size: 1.2em;
}

.wordSet span {
    color: var(--secondaryColor);
}

.formElement {
    width: 100%;
    text-align: center;
}

.modal-content {
    background: linear-gradient(to bottom, var(--primaryBGColor), var(--secondaryBGColor));
    border: 1px solid var(--secondaryColor);;
    font-size: 1.2em;
    text-align: center;
}

.modal-header,
.modal-body {
    border: 0;
}

.invalid-feedback {
    font-size: 1.2em;
    margin-bottom: 20px;
}

@media (max-width: 1600px) {
    .wordSet {
        flex: 0 0 calc(25% - 20px);
    }
}

@media (max-width: 1200px) {
    .wordSet {
        flex: 0 0 calc(33.333% - 20px);
    }
}

@media (max-width: 960px) {
    .wordSet {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .wordSet {
        flex: 0 0 calc(100% - 20px);
    }

    .setContainer {
        justify-content: center;
    }
}