@if (isUserAdmin()) {
    <div class="actionsContainer">
        <button class="addElement" (click)="openAddSetModal()">Add Set</button>
    </div>
}

<div class="searchBar">
    <form [formGroup]="searchForm">
        <input formControlName="searchControl" placeholder="Search">
    </form>
</div>

<div class="setContainer">
    @for (set of sets; track set) {
        <div class="wordSet" (click)="goToSetPage(set.id)">
            <img class="wordSetImage" [src]="getImageUrl(set.image)" alt="Set Image">
            <h1>{{ set.set_name }}</h1>
            <span>{{ set.word_count }} words</span>
            @if (isUserAdmin()) {
                <img src="assets/delete.svg" class="deleteElement" (click)="deleteSet(set.id, $event)" alt="Delete Set">
            }
        </div>
    }
</div>

<app-add-set-modal></app-add-set-modal>