<div class="setContainer">
    <div class="wordSet">
        <span id="set_id" hidden>1</span>
        <img src="assets/images/monitor.png">
        <h1>Monitor</h1>
        <span>5 words</span>
    </div>
    <div class="wordSet">
        <span id="set_id" hidden>1</span>
        <img src="assets/images/monitor.png">
        <h1>Monitor</h1>
        <span>5 words</span>
    </div>
    <div class="wordSet">
        <span id="set_id" hidden>1</span>
        <img src="assets/images/monitor.png">
        <h1>Monitor</h1>
        <span>5 words</span>
    </div>
    <div class="wordSet">
        <span id="set_id" hidden>1</span>
        <img src="assets/images/monitor.png">
        <h1>Monitor</h1>
        <span>5 words</span>
    </div>
    <div class="wordSet">
        <span id="set_id" hidden>1</span>
        <img src="assets/images/monitor.png">
        <h1>Monitor</h1>
        <span>5 words</span>
    </div>
    <div class="wordSet">
        <span id="set_id" hidden>1</span>
        <img src="assets/images/monitor.png">
        <h1>Monitor</h1>
        <span>5 words</span>
    </div>
</div>