<div class="actionsContainer">
    <button class="addElement" (click)="openAddSetModal()">
        Add Set
    </button>    
</div>

<div class="setContainer">
    @for (set of sets; track set) {
        <div class="wordSet" (click)="goToSetPage(set.id)">
            <img [src]="getImageUrl(set.image)" alt="Set Image">
            <h1>{{ set.set_name }}</h1>
            <span>{{ set.word_count }} words</span>
            <button class="deleteElement" (click)="deleteSet(set.id, $event)">Delete</button>
        </div>
    }
</div>

<app-add-set-modal></app-add-set-modal>